@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --GenBackground: #ffff;
    --HighPurple: #8467dc;
    --black: #202020;
    --alets: #9e3b42;
    --edit: #577ead;
    --accept: #00913F;
}

.fa-arrow-left {
    color: var(--HighPurple);
    text-decoration: none;
}

hr {
    margin: .5rem 0rem;
}

.MenuHa-desk {
    & .btnlogout {
        background: var(--GenBackground);
        color: var(--HighPurple);
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--GenBackground);
}



.navegacion {
    background-color: var(--HighPurple);
    flex: 1;

    & ul {
        display: flex;
        padding: 1rem;
        justify-content: space-evenly;
        align-items: center;

        & li {
            list-style: none;

            & a {
                text-decoration: none;
                color: var(--GenBackground);
            }
        }
    }
}

.navegation {
    display: flex;
    gap: 20px;
    align-items: center;

    & a {
        color: white;
        text-decoration: none;

        & .loginbtn {
            background: var(--GenBackground);
        }
    }
}

.MenuHa {
    flex: 3;

    & .navegation {

        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 90vh;

        & a {
            color: var(--HighPurple);

        }
    }
}

.bm-burger-button {
    display: none;
    position: absolute;
    width: 35px;
    height: 30px;
    top: 35px;
    right: 36px;
}

.bm-burger-bars {
    background: var(--GenBackground);
    border-radius: 10px;
    width: 40px;
}


.bm-cross-button {
    height: 24px;
    width: 24px;
}


.bm-cross {
    background: var(--HighPurple);
}


.bm-menu {
    background: var(--GenBackground);
    text-align: center;
    padding: 2rem;
    font-size: 1.15em;
}


.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}


.loginbtn:hover {
    color: white;
}

.loginbtn {
    background-color: var(--GenBackground);
    color: var(--HighPurple) !important;
    padding: .5rem 1rem;
    border-radius: 10px;
    font-weight: 500;
}

.btnlogout {
    border: none;
    background-color: var(--HighPurple);
    color: var(--GenBackground);
    padding: .5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.btnlogout:hover {
    /* color: white; */
}

.WelcomeUser {
    color: var(--GenBackground);
}

.FormSingin,
.FormCreate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContainerLogin,
.containerCreate {
    margin-top: 2rem;
    display: flex;
    width: 70%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
    min-height: 400px;
    max-height: fit-content;

    & .formLogin {
        background-color: var(--GenBackground);
        border-radius: 10px;
        color: var(--HighPurple);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: 1;
    }

    & .formCreate {
        padding: 2rem;
        background-color: var(--GenBackground);
        border-radius: 10px;
        color: var(--HighPurple);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: 1;
    }
}

.containerCreate {
    width: 90%;
}

.imglogin,
.imgCreate {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--HighPurple);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--GenBackground);
    text-align: center;
}

.imgCreate {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.CreateLink {
    color: var(--black);
    margin-top: 2rem;

    & .Link {
        color: var(--GenBackground);
    }
}

input {
    background-color: #e9e9e9;
    border: none;
    padding: 1rem;
    width: 25rem;
    border-radius: 10px;
    margin-top: 1rem;
}

textarea {
    border-radius: 10px;
    background-color: #e9e9e9;
    width: 30rem;
    margin-top: 1rem;
    resize: none;
    height: 100px;
    font-family: "Poppins";
    padding: 1rem;
    border: none;
}

.btnsubmit {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    & .submitlogin {
        background-color: var(--HighPurple);
        color: var(--GenBackground);
        border: none;
        border-radius: 10px;
        padding: .5rem 5rem;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 500;
    }

    & .submitcreate {
        background-color: var(--HighPurple);
        border: none;
        border-radius: 10px;
        padding: .5rem 5rem;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 500;
    }

    & .btnEditProduct {
        background-color: #667890;
        border: none;
        border-radius: 10px;
        padding: .5rem 5rem;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 500;
    }

    & .btnCreateProduct {
        background-color: #00913F;
        border: none;
        border-radius: 10px;
        padding: .5rem 5rem;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 500;
    }
}


.productscontainer {
    padding: 2rem;

    & h1 {
        text-align: center;
        color: var(--black);
    }
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width: 30%;
    border-radius: 10px;
    height: fit-content;
}

.onecard {
    & .producttitle {
        text-align: center;
        border-radius: 10px 10px 0px 0px;
        padding: 2rem;
        background-color: var(--HighPurple);
        color: var(--GenBackground);
    }

    & .productdescription {
        color: var(--black);
        padding: 1rem;
        text-align: left;
        min-height: 170px;
        max-height: fit-content;
        font-size: 14px;
    }

}

.footercard {
    background-color: var(--HighPurple);
    padding: .5rem 2rem;
    color: var(--GenBackground);
    display: flex;
    justify-content: space-around;
}

.footerreal {
    height: 60px;
    border-radius: 0px 0px 10px 10px;

    & .deleteProduct {
        font-family: "Poppins";
        font-size: 15px;
        background-color: var(--alets);
        border: none;
        color: var(--GenBackground);
        padding: .5rem 1rem;
        border-radius: 10px;
    }

    & .updateProductbtn {
        background-color: var(--edit);
        text-decoration: none;
        color: var(--GenBackground);
        padding: 0.5rem 1.7rem;
        border-radius: 10px;
        margin-left: 1rem;
    }

    & .buyProduct {
        background-color: var(--GenBackground);
        color: var(--HighPurple);
        text-decoration: none;
        padding: .5rem 2rem;
        border-radius: 10px;
    }
}

.Tittlebuy {
    color: var(--black);
}

.CreateAndEditProduct {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.createproductcontainer {
    border-radius: 10px;
    display: flex;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

    & .formcreateproduct {
        padding: 2rem;

        & input {
            width: 30rem;
        }

        & .titleform {
            color: var(--HighPurple);
        }

        & .btnEditProduct {
            background-color: var(--HighPurple);
            color: var(--GenBackground);
        }

        & .btnCreateProduct {
            background-color: var(--HighPurple);
            color: white;
        }
    }
}

.buy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.buycontainer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 2rem;
    border-radius: 10px;
}

.inputquantity,
.inputquantityedit {
    padding: 0rem;
    background: none;
    width: 50px;
    text-align: center;
    font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.editquantity {
    border: none;
    /* font-size: 15px; */
    background: none;
    background-color: var(--HighPurple);
    padding: .5rem 1rem;
    border-radius: 10px;
    color: var(--GenBackground);
    cursor: pointer;
    transition: ease-in-out .1s;
}

.editquantity:active {
    scale: 1.2;
}

.infoproductbuy {
    flex: 2;
    flex-direction: column;
    margin-right: 20px;

    & h1 {
        color: var(--HighPurple);
    }
}

.infoproducSend {
    flex: 1;

    & h3 {
        color: var(--HighPurple);
    }
}

.btnsbuy {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;

}

.btnbuy {
    border: none;
    background-color: var(--accept);
    padding: .5rem 2rem;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}

.cancelbuy {
    color: #F0394D;
}

.editPurchase {
    border: none;
    background-color: var(--edit);
    color: white;
    padding: .5rem 2rem;
    margin-top: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.btnsproducts {
    & p {
        color: var(--black);
    }
}

footer {
    margin-top: 3rem;
    background-color: var(--HighPurple);

    & .footercontainer {
        display: flex;
        padding: 2rem;

        & h2 {
            color: var(--GenBackground);
        }

        & .info {
            flex: .5;
        }
    }

    & .Rights {
        background-color: var(--GenBackground);
        padding: .5rem;
        text-align: center;
        color: var(--HighPurple);
        font-weight: 500;
    }

    & .Creatorscontainer {
        flex: 1;
        text-align: center;

        & .Creators {
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            color: var(--black);

            & .social {
                margin-top: 1rem;
                display: flex;
                justify-content: space-between;
            }

            & a {
                color: var(--GenBackground);

                & i {
                    font-size: 25px;
                }
            }
        }
    }
}

.error {
    color: var(--alets);
}

.cardspurchase {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardpurchase {
    width: 80%;
    padding: 2rem;
}

.deleteProduct {
    background-color: var(--alets);
    border: none;
    padding: .5rem 2rem;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    color: var(--GenBackground);
}

.updateProductbtn {
    background-color: var(--edit);
    border: none;
    text-decoration: none;
    margin-left: 2rem;
    padding: .5rem 2rem;
    border-radius: 10px;
    color: var(--GenBackground);
}

.productPurshashInfo {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h2 {
        color: var(--HighPurple);
    }
}

.Info {
    display: flex;
    justify-content: space-between;
}

.InfoForm {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.pursashecard {
    display: flex;
    width: 100%;
}

.prusasheInfo {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;

    & h4 {
        color: var(--HighPurple);
    }
}

.smalltext {
    font-size: 12px;
}

.btnsmyproducts {
    margin-top: 2rem;
}

.editpurchasecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    & .cardedirpurchase {
        width: 80%;
        display: flex;
        padding: 2rem;
    }
}

.NoPurchases {
    color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 7rem);

    && a {
        color: #94adcf;
        text-decoration: underline;
    }
}

.inputquantityedit {
    text-align: end;
    color: var(--alets);
    font-weight: 700;
}

/* LOADER */
.LoaderName {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.loader {
    width: 48px;
    height: 48px;
    border: 2px solid var(--black);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 0;
    background: var(--HighPurple);
    width: 3px;
    height: 24px;
    transform: translateX(-50%);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader404 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    color: var(--HighPurple);
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
    margin-top: 2rem;
}

@keyframes animloader {
    0% {
        box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
    }

    33% {
        box-shadow: -38px 0px, -14px -12px, 14px 0, 38px 0;
    }

    66% {
        box-shadow: -38px 0px, -14px 0, 14px -12px, 38px 0;
    }

    100% {
        box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
    }
}


.menssageError {
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

@media (max-width: 750px) {

    .MenuHa-desk {
        display: none;
    }

    .bm-burger-button {
        display: block;
    }

    .navegacion {

        & ul {
            display: flex;
            flex-direction: column;

            & .navegation {
                margin-top: 1rem;
            }
        }
    }


    ul {
        width: 100%
    }

    .ContainerLogin {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        text-align: center;
        width: 100%;
        box-shadow: none;
    }

    .formLogin {
        height: 100vh;

    }

    .imglogin {
        text-align: center;
        border-radius: 0px;
        padding: 2rem;

    }

    .imgCreate {
        text-align: center;
        border-radius: 0px;
        padding: 2rem;
    }

    .containerCreate {
        box-shadow: none;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        width: 100%
    }


    .footercontainer {
        /* position: absolute; */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        margin-right: 10px;
    }

    h2 {
        text-align: center;
    }

    .info {
        color: white;
    }

    p {
        margin-right: 10px;
    }

    input {
        width: 20rem;
    }

    footer {
        margin-top: 0rem;
        text-align: center;
    }

    .Creatorscontainer {
        margin-top: 2rem;
    }

    .Creators {
        & p {
            font-size: 14px;
        }

        & .social {
            flex-direction: column;
            gap: 20px;
        }
    }

    .cards {
        flex-direction: column;
        align-items: center;

        & .card {
            margin: 0;
            margin-bottom: 2rem;
            width: 90%;
        }
    }

    .createproductcontainer {
        width: 100%;
        box-shadow: none;
        justify-content: center;

        & .formcreateproduct {

            width: 100%;
            margin-bottom: 2rem;

            & input {
                width: 20rem;
            }

            & .textarea {
                width: 20rem;
            }
        }

    }

    .buy {
        margin: 0;
    }


    .buycontainer {
        margin-top: 0rem;
        display: block;
        width: 100%;
        box-shadow: none;
    }

    .infoproducSend {
        margin-top: 2rem;
    }


    .cardpurchase {
        box-shadow: none;
        width: 100%;
        padding: 0;

        & .pursashecard {
            display: block;

            & .prusasheInfo {
                margin-top: 2rem;
            }
        }
    }

    .editpurchasecontainer {

        & .cardedirpurchase {
            margin-top: 0rem;
            display: block;
            width: 100%;
            box-shadow: none;

            & .pursashecard {
                & h2 {
                    text-align: left;
                }

                display: block;

                & .prusasheInfo {
                    margin-top: 2rem;

                    & p {
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .cards {
        font-size: 12px;
        flex-direction: column;
        align-items: center;

        & .card {
            margin: 0;
            margin-bottom: 2rem;
            width: 90%;
        }

        & .productdescription {
            font-size: 12px;
            text-align: center
        }

        & .footercard {
            padding: .5rem 0rem;

            & .deleteProduct {
                font-size: 12px;
            }
        }
    }
}